# macOS
.DS_Store
**/.DS_Store

# Xcode
DerivedData/
build/

# User settings
*.xcuserstate
xcuserdata/

# SwiftPM
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# Archives
*.xcarchive

# Logs
*.log
